/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/navbar/navbar.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Martel:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar_navbar__cmw8f {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #050401;
  margin-left: 0px;
}

.navbar_navbarLeft__yy3eD {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.navbar_companyName__uPGkV {
  font-size: 24px;
  font-weight: 400;
  font-family: "Gajraj One", sans-serif;
  color: black;
}

.navbar_navbarCenter__O4dE4 {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.navbar_navLinks__2Jkb_ {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.navbar_navLinks__2Jkb_ li {
  display: block;
}

.navbar_navLinks__2Jkb_ a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar_navLinks__2Jkb_ a:hover {
  text-decoration: underline;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  .navbar_navbar__cmw8f {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar_navbarLeft__yy3eD {
    width: auto;
    margin-bottom: 0;
  }
  .navbar_companyName__uPGkV {
    font-size: 28px;
  }
  .navbar_navbarCenter__O4dE4 {
    width: auto;
  }
  .navbar_navLinks__2Jkb_ {
    flex-direction: row;
    gap: 20px;
  }
}
.navbar_hamburger__oLqIy {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar_navbarCenter__O4dE4 {
    display: none; /* Hide the navbar links on mobile */
  }
  .navbar_hamburger__oLqIy {
    display: block; /* Show the hamburger menu button on mobile */
  }
  /* When the sidebar (navbarCenter) is active */
  .navbar_navbarCenter__O4dE4.navbar_active__g_40c {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
  }
  .navbar_navLinks__2Jkb_ {
    flex-direction: column;
    padding: 20px;
  }
  .navbar_overlay__ssRMM {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}
/* Tablet and Desktop styles */
@media screen and (min-width: 768px) {
  .navbar_navbar__cmw8f {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar_navbarLeft__yy3eD {
    width: auto;
    margin-bottom: 0;
  }
  .navbar_companyName__uPGkV {
    font-size: 28px;
  }
  .navbar_navbarCenter__O4dE4 {
    width: auto;
    display: flex;
  }
  .navbar_navLinks__2Jkb_ {
    flex-direction: row;
    gap: 20px;
  }
  .navbar_hamburger__oLqIy {
    display: none; /* Hide the hamburger on larger screens */
  }
}
/* Desktop styles */
@media screen and (min-width: 1024px) {
  .navbar_navbar__cmw8f {
    padding: 0px 5%;
  }
  .navbar_companyName__uPGkV {
    font-size: 40px;
  }
  .navbar_navbarCenter__O4dE4 {
    padding: 15px 30px;
  }
  .navbar_navLinks__2Jkb_ {
    gap: 100px;
  }
  .navbar_navLinks__2Jkb_ a {
    font-size: 18px;
  }
  .navbar_navLinks__2Jkb_ a:hover {
    color: black;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/footer/footer.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__avDgs {
  color: black;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid black;
  width: 100%;
  margin-top: auto;
}

.footer_container__C4vMr {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer_footerNav__fp8zJ {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer_footerNav__fp8zJ li {
  display: inline;
}

.footer_footerNav__fp8zJ a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer_footerNav__fp8zJ a:hover {
  color: #ff6347; /* Lighter color on hover */
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/global.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.global_container__U8osQ {
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  font-family: "Poppins", sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0px;
  background-size: cover;
}

.global_NotFound__hPmS6 {
  display: flex;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 100px;
  padding: 20px;
  width: auto;
  height: auto;
  margin-bottom: 10%;
  /* From Uiverse.io by KitoC */
}
.global_NotFound__hPmS6 button {
  margin-top: 5%;
  margin-left: 20%;
  --black-hole-color-2: white;
  --black-hole-color: black;
  font-size: 17px;
  position: relative;
  background: #212121;
  padding: 0.5em;
  border: 2px solid var(--black-hole-color);
  border-radius: 8px;
}
.global_NotFound__hPmS6 button:hover {
  border: 2px solid var(--black-hole-color-2);
  animation: global_alert__Sm7Hc 1s alternate infinite linear;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p {
  padding: 3em;
  background-color: black;
  color: var(--black-hole-color);
  position: absolute;
  animation: global_wiggle__a41Sd 3s alternate-reverse infinite linear;
  top: -1em;
  left: -8em;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p,
.global_NotFound__hPmS6 .global_blackhole__rhw5p::after,
.global_NotFound__hPmS6 .global_blackhole__rhw5p::before,
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p,
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p::after {
  content: "";
  border: 2px solid var(--black-hole-color);
  border-radius: 50%;
  box-shadow: 0 0 3em, 0 0 1em;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p::after,
.global_NotFound__hPmS6 .global_blackhole__rhw5p::before {
  animation: global_writhe__ck78H 3s alternate-reverse infinite linear;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p::before {
  position: absolute;
  width: calc(100% + 0.5em);
  height: calc(100% + 0.5em);
  top: -9px;
  left: -7px;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p::after {
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -6px;
  left: -5px;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p,
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p::after {
  content: "";
  position: absolute;
  left: -50%;
  width: 200%;
  border-top: none;
  height: 2em;
  border-width: 5px;
  box-shadow: 0px 5px 10px var(--black-hole-color);
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p,
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p::after {
  animation: global_ring-writhe__jtDn_ 3s alternate-reverse infinite linear;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_block__qPBpb {
  position: absolute;
  z-index: 90;
  content: "";
  background-color: black;
  top: -20%;
  left: 25%;
  width: 50%;
  height: 10px;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p::after {
  width: 110%;
  left: -8%;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_rocket__TL2zt {
  fill: white;
  height: 30px;
  transform: rotate(-140deg);
  animation: global_idle__ai_n3 1s alternate-reverse infinite linear;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_rocket-path__2Tzn_ {
  position: absolute;
  top: -60px;
  right: -60px;
}
.global_NotFound__hPmS6 button:hover .global_rocket-path__2Tzn_,
.global_NotFound__hPmS6 button:focus .global_rocket-path__2Tzn_ {
  z-index: 100;
  animation: global_engine-start__Ft56o 0.2s alternate-reverse infinite linear;
}
.global_NotFound__hPmS6 button:focus .global_rocket-path__2Tzn_ {
  animation: global_descend__1IUYj 1.2s linear forwards, global_descend-dissapear__HD7ti 0.1s linear forwards;
  animation-delay: 0s, 1s;
}
.global_NotFound__hPmS6 button .global_text__W5qL6 {
  display: flex;
  color: white;
}
@keyframes global_idle__ai_n3 {
  from {
    transform: rotate(-130deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
@keyframes global_alert__Sm7Hc {
  from {
    box-shadow: 0 0 0 var(--black-hole-color);
  }
  to {
    box-shadow: 0 0 8px var(--black-hole-color);
  }
}
@keyframes global_engine-start__Ft56o {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes global_descend__1IUYj {
  from {
    top: -60px;
    right: -60px;
    transform: scale(1);
  }
  to {
    top: -10px;
    right: -10px;
    transform: scale(0.8);
  }
}
@keyframes global_descend-dissapear__HD7ti {
  from {
    top: -10px;
    right: -10px;
    transform: scale(1);
  }
  to {
    top: 20px;
    right: 20px;
    transform: scale(0);
  }
}
@keyframes global_writhe__ck78H {
  from {
    box-shadow: -4px -3px 35px var(--black-hole-color-2), -4px -3px 5px;
    transform: translateX(-1px) scale(1);
  }
  to {
    box-shadow: 4px 3px 35px, 4px 3px 5px var(--black-hole-color-2);
    transform: translateX(1px) scale(0.95);
  }
}
@keyframes global_wiggle__a41Sd {
  from {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(3px);
  }
}
@keyframes global_ring-writhe__jtDn_ {
  from {
    transform: translateX(-2px) scale(1);
    box-shadow: -2px 5px 10px var(--black-hole-color);
  }
  to {
    box-shadow: 2px 5px 10px var(--black-hole-color-2);
    transform: translateX(2px) scale(0.95);
  }
}
.global_NotFound__hPmS6 a {
  color: black;
  text-decoration: none;
  border: 2px solid black;
  height: 30px;
}
.global_NotFound__hPmS6 h2 {
  margin-left: 30%;
}

.global_spinner__T0GGS {
  background-image: linear-gradient(white 35%, black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  animation: global_spinning82341__B6bbv 1.7s linear infinite;
  border-radius: 50%; /* Changed to 50% for perfect circle */
  filter: blur(1px);
  margin-left: 40%;
  box-shadow: 0px -5px 20px 0px white, 0px 5px 20px 0px black;
}

.global_spinner1__qv4k0 {
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Changed to 50% for perfect circle */
  filter: blur(10px);
}

@keyframes global_spinning82341__B6bbv {
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-device-width: 1366px) {
  .global_parallax__U1f_z {
    background-attachment: scroll;
  }
}
