/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/global.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.global_container__U8osQ {
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  font-family: "Poppins", sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0px;
  background-size: cover;
}

.global_NotFound__hPmS6 {
  display: flex;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 100px;
  padding: 20px;
  width: auto;
  height: auto;
  margin-bottom: 10%;
  /* From Uiverse.io by KitoC */
}
.global_NotFound__hPmS6 button {
  margin-top: 5%;
  margin-left: 20%;
  --black-hole-color-2: white;
  --black-hole-color: black;
  font-size: 17px;
  position: relative;
  background: #212121;
  padding: 0.5em;
  border: 2px solid var(--black-hole-color);
  border-radius: 8px;
}
.global_NotFound__hPmS6 button:hover {
  border: 2px solid var(--black-hole-color-2);
  animation: global_alert__Sm7Hc 1s alternate infinite linear;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p {
  padding: 3em;
  background-color: black;
  color: var(--black-hole-color);
  position: absolute;
  animation: global_wiggle__a41Sd 3s alternate-reverse infinite linear;
  top: -1em;
  left: -8em;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p,
.global_NotFound__hPmS6 .global_blackhole__rhw5p::after,
.global_NotFound__hPmS6 .global_blackhole__rhw5p::before,
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p,
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p::after {
  content: "";
  border: 2px solid var(--black-hole-color);
  border-radius: 50%;
  box-shadow: 0 0 3em, 0 0 1em;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p::after,
.global_NotFound__hPmS6 .global_blackhole__rhw5p::before {
  animation: global_writhe__ck78H 3s alternate-reverse infinite linear;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p::before {
  position: absolute;
  width: calc(100% + 0.5em);
  height: calc(100% + 0.5em);
  top: -9px;
  left: -7px;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p::after {
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -6px;
  left: -5px;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p,
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p::after {
  content: "";
  position: absolute;
  left: -50%;
  width: 200%;
  border-top: none;
  height: 2em;
  border-width: 5px;
  box-shadow: 0px 5px 10px var(--black-hole-color);
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p,
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p::after {
  animation: global_ring-writhe__jtDn_ 3s alternate-reverse infinite linear;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_block__qPBpb {
  position: absolute;
  z-index: 90;
  content: "";
  background-color: black;
  top: -20%;
  left: 25%;
  width: 50%;
  height: 10px;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_ring__uhR8p::after {
  width: 110%;
  left: -8%;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_rocket__TL2zt {
  fill: white;
  height: 30px;
  transform: rotate(-140deg);
  animation: global_idle__ai_n3 1s alternate-reverse infinite linear;
}
.global_NotFound__hPmS6 .global_blackhole__rhw5p .global_rocket-path__2Tzn_ {
  position: absolute;
  top: -60px;
  right: -60px;
}
.global_NotFound__hPmS6 button:hover .global_rocket-path__2Tzn_,
.global_NotFound__hPmS6 button:focus .global_rocket-path__2Tzn_ {
  z-index: 100;
  animation: global_engine-start__Ft56o 0.2s alternate-reverse infinite linear;
}
.global_NotFound__hPmS6 button:focus .global_rocket-path__2Tzn_ {
  animation: global_descend__1IUYj 1.2s linear forwards, global_descend-dissapear__HD7ti 0.1s linear forwards;
  animation-delay: 0s, 1s;
}
.global_NotFound__hPmS6 button .global_text__W5qL6 {
  display: flex;
  color: white;
}
@keyframes global_idle__ai_n3 {
  from {
    transform: rotate(-130deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
@keyframes global_alert__Sm7Hc {
  from {
    box-shadow: 0 0 0 var(--black-hole-color);
  }
  to {
    box-shadow: 0 0 8px var(--black-hole-color);
  }
}
@keyframes global_engine-start__Ft56o {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes global_descend__1IUYj {
  from {
    top: -60px;
    right: -60px;
    transform: scale(1);
  }
  to {
    top: -10px;
    right: -10px;
    transform: scale(0.8);
  }
}
@keyframes global_descend-dissapear__HD7ti {
  from {
    top: -10px;
    right: -10px;
    transform: scale(1);
  }
  to {
    top: 20px;
    right: 20px;
    transform: scale(0);
  }
}
@keyframes global_writhe__ck78H {
  from {
    box-shadow: -4px -3px 35px var(--black-hole-color-2), -4px -3px 5px;
    transform: translateX(-1px) scale(1);
  }
  to {
    box-shadow: 4px 3px 35px, 4px 3px 5px var(--black-hole-color-2);
    transform: translateX(1px) scale(0.95);
  }
}
@keyframes global_wiggle__a41Sd {
  from {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(3px);
  }
}
@keyframes global_ring-writhe__jtDn_ {
  from {
    transform: translateX(-2px) scale(1);
    box-shadow: -2px 5px 10px var(--black-hole-color);
  }
  to {
    box-shadow: 2px 5px 10px var(--black-hole-color-2);
    transform: translateX(2px) scale(0.95);
  }
}
.global_NotFound__hPmS6 a {
  color: black;
  text-decoration: none;
  border: 2px solid black;
  height: 30px;
}
.global_NotFound__hPmS6 h2 {
  margin-left: 30%;
}

.global_spinner__T0GGS {
  background-image: linear-gradient(white 35%, black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  animation: global_spinning82341__B6bbv 1.7s linear infinite;
  border-radius: 50%; /* Changed to 50% for perfect circle */
  filter: blur(1px);
  margin-left: 40%;
  box-shadow: 0px -5px 20px 0px white, 0px 5px 20px 0px black;
}

.global_spinner1__qv4k0 {
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Changed to 50% for perfect circle */
  filter: blur(10px);
}

@keyframes global_spinning82341__B6bbv {
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-device-width: 1366px) {
  .global_parallax__U1f_z {
    background-attachment: scroll;
  }
}
